.box {
  padding: 8%  10%;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  left: 22%;
  top: 15%;
  z-index: 1;
  position: fixed;
  text-align: center;
  width: 33%;
  animation: 2s fadeIn;
}

.hidden {
display: none;
}

#entrant-name {
  animation: 3s fadeIn2;
  /* animation-delay: 1s; */
  position: fixed;;
  z-index: 2;
  top: 35%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    top: 70%;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    top: 70%;
  }
  to {
    opacity: 1;
  }
}
